body{
    font-family: 'Poppins', sans-serif;
    color: #444;
    padding: 0px 40px;
}
nav{
    background: #cecece;
}
nav ul{
    
    padding-left: 0px;
    text-align: center;
}
nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid,#444;
    margin: 15px 20px;
    font: 20px;
}
a{
    color: #444;
    text-decoration:underline;
}
h1,h2,h3{
    color: #222;
}
h2{
    border-bottom: 100px solid,#444;
}